#comments {
    margin-bottom: 15px;
    margin-top: 10px;
}

.comment-body {
    border-top: 1px solid #EEECEC;
    padding: 15px 0;
}

.commentlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.commentlist li.comment {
    line-height: 24px;
    position: relative;
}

ul, li {
    color: #000000;
}

li {
    text-align: -webkit-match-parent;
}

.comment-meta {
    color: #999;
}